<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Flymedia.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
				<key>dateExpires</key>
				<string>09/01/2025</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.17</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>10.19.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>10.18.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>10.19.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>10.18.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>10.19.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>10.19.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>10.18.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>7.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RecaptchaInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>100.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>5.18.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TOCropViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>2.6.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>background_downloader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>emoji_picker_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_file_dialog.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_cropper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>rive_common.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sign_in_with_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>smart_auth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D7B8DBD955404C6EE96EB96F607DB51EA9A5E9D</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9CY9WA8P73</string>
						<key>name</key>
						<string>Flymedia LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9CY9WA8P73.com.flymedia.app</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>9CY9WA8P73</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>41f878f5-439e-4046-86f2-2c38728eb75c</string>
				<key>dateExpires</key>
				<string>16/01/2025</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.flymedia.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9CY9WA8P73</string>
				<key>name</key>
				<string>Flymedia LLP</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
